

<h3>Most Popular product</h3>
{{mostPopularProd.Name}}
{{mostPopularProd.Quantity}}

<h3>Least Popular product</h3>
{{{leastPopularProd.Name}}}
{{{leastPopularProd.Quantity}}}

<h3>Most Popular category</h3>
{{{mostPopularCateg}}}
{{{mostPopularCateg}}}

<h3>Least Popular category</h3>
{{{leastPopularCateg.ItemName}}}
{{{leastPopularCateg.UnitsSold}}}

{{{body}}}