<div class="row">
  <div class="col-md-8" style="margin-left:30vw; margin-top:10%; height:15vw; width:40vw;">
    <div class="row">
      <div class="col-md-6" style="height:25vw; width:20vw;"><img  src="images/{{Image}}" style="width: 18vw; height: 20vw; padding: 1%; margin-top:1%; border: 2px solid black;"/></div>
       <div class="col-md-6" style="height:25vw; width:20vw;"><strong style="font-size:1.5em;"><br/><br/>{{Name}}<br>R{{Price}} p/pkt<br/> Sold this week : {{Sold}} </strong></div>
    </div>
  </div>
      <div class="col-md-4" style="margin-left:30vw; width:40vw;"><strong style="font-size:1.8em;">Total : R{{Total}}</strong></div>
</div>

<div id='wrapper'><span class="glyphicon glyphicon-chevron-right"></span></div>
<div id='wrapper'><span class="glyphicon glyphicon-chevron-left"></span></div>

