

<div  class="btn-group-vertical" id='f'><li><h3>Most Popular product</h3></li></div>
	<div class='list-item'><img src="./images/{{mostPopularProd.Image}}"/>{{mostPopularProd.Name}}{{mostPopularProd.Quantity}}</div>

<div  class="btn-group-vertical"><li><h3>Least Popular product</h3></li></div>
	<div class='list-item' ><img src="./images/{{leastPopularProd.Image}}"/>{{{leastPopularProd.Name}}}{{{leastPopularProd.Quantity}}}</div>


<div  class="btn-group-vertical"><li><h3>Most Popular category</h3></li></div>
	<div class='list-item'><img src="./images/{{mostPop.Image}}"/>{{{mostPop.ItemName}}}{{{mostPop.UnitsSold}}}</div>

<div  class="btn-group-vertical"><li><h3>Least Popular category</h3></li></div>
   <div class='list-item'><img src="./images/{{leastPop.Image}}"/>{{{leastPop.ItemName}}}{{{leastPop.UnitsSold}}}</div>

