<div id='backOpts'>

<div  class="btn-group-vertical" id='f'><li><h3>Most Popular product</h3></li></div>
	<div class='list-item'>
        &nbsp{{mostPopularProd.Name}}&nbsp({{mostPopularProd.Quantity}} sold)
	      <div id='order'>
	      <div class="btn-group">
  		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    		      Options <span class="caret"></span>
  	   	</button>
  		  <ul class="dropdown-menu" role="menu">
    			  <li><a href="#">Order </a></li>
    			  <li><a href="#">Supplier Details</a></li>
    			  <li><a href="#">Compare Prices</a></li>
    			  <li class="divider"></li>
    			  <li><a href="#">Product perfomance</a></li>
  		  </ul>
	</div>
	</div>
	
</div>

<div  class="btn-group-vertical"><li><h3>Least Popular product</h3></li></div>
	<div class='list-item' >
        &nbsp{{{leastPopularProd.Name}}}&nbsp({{{leastPopularProd.Quantity}}} sold)
	      <div id='order'>
	      <div class="btn-group">
  		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    		Options <span class="caret"></span>
  		  </button>
  		  <ul class="dropdown-menu" role="menu">
    			  <li><a href="#">Order </a></li>
    			  <li><a href="#">Supplier Details</a></li>
    			  <li><a href="#">Compare Prices</a></li>
    			  <li class="divider"></li>
    			  <li><a href="#">Product perfomance</a></li>
  		  </ul>
	</div>
	</div>
</div>


<div  class="btn-group-vertical"><li><h3>Most Popular category</h3></li></div>
	<div class='list-item'> &nbsp{{{mostPop.ItemName}}}&nbsp({{{mostPop.UnitsSold}}} sold)
	<div id='order'>
	<div class="btn-group">
  		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    		Options <span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
    			<li><a href="#">Order </a></li>
    			<li><a href="#">Supplier Details</a></li>
    			<li><a href="#">Compare Prices</a></li>
    			<li class="divider"></li>
    			<li><a href="#">Category perfomance</a></li>
  		</ul>
	</div>
	</div>

</div>

<div  class="btn-group-vertical"><li><h3>Least Popular category</h3></li></div>
   <div class='list-item'> &nbsp{{{leastPop.ItemName}}}&nbsp({{{leastPop.UnitsSold}}} sold)
   <div id='order'>
	<div class="btn-group">
  		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    		Options <span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
    			<li><a href="#">Order </a></li>
    			<li><a href="#">Supplier Details</a></li>
    			<li><a href="#">Compare Prices</a></li>
    			<li class="divider"></li>
    			<li><a href="#">Category perfomance</a></li>
  		</ul>
	</div>
	</div>
</div>
</div>






































 <span id='showProducts' class='showButton'>View & Edit<br/>product list</span>
 <div id='exitProducts' class='exitButton' >close</span></div>
<div id='prods'>
<div class="container">
  
             
 

  <form id='pf' action='products' method='post'>
<<<<<<< HEAD
  <table class="table" id='productsTable'>
=======
  <table class="table">
>>>>>>> 62d04a93139380d49afc87dffd434c516ef25f01
   
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>        
        <th>Price</th>
      </tr>
    </thead>


    <tbody>
    {{#each products}}

      <tr id='{{prodID}}'>      
        <td id='productName'>
        <input type="text" name="name" value="{{name}}">        
        <div class="glyphicon glyphicon-pencil"></div>
        </td>        

        <td id='productCat'>
        <input type="text" name="price" value="{{category}}">
        <div class="glyphicon glyphicon-pencil"></div>        
        </td>   

        <td id='productPrice'><input type="text" name="category" value="{{price}}">        
        </td>       

      </tr>



        

      {{/each}}




      </tbody>
  </table>
  </form>

  <script type='text/javascript'>
          $.fn.center = function () {

             this.css("position","absolute");
             this.css("top", ( $(window).height() - this.height() ) / 2  + "px");
             this.css("left", ( $(window).width() - this.width() ) / 2 + "px");
             return this;

          }

          $('.table tr td').keypress(function(e) {
                            
                            var Categories =[]

                            {{#each categories}}
                                Categories.push('{{name}}')          
                            {{/each}}
                       
                            var catVal = $('.table tr td:nth-of-type(2)').find('input').val();

                            

                            if( e.which == 13) 
                                {   
                                 
                                    if(Categories.indexOf(catVal) < 0)
                                    {

                                        $("#dialog").css({position:'fixed',zIndex:'50',width:'auto',height:'auto',backgroundColor:'rgba(255,153,0,0.9)',border:'3px solid black',padding:'1%',color:'black',fontSize:'1vw',borderRadius:'20px',listStyle:'none',visibility:'visible',marginLeft:'auto',marginTop:'-60%',left:'40%',right:'40%',textAlign:'center',transition:'all .5s linear'})

                                        var catStr =''

                                        Categories.forEach(function(cat){
                                            catStr+=("<li style='color:white;'>"+cat+'</li>')
                                        })
                                        
                                        catStr+="<button type='submit' class='btn .btn-danger'>'Add as New'</button>"
                                        catStr+="<p id='closeSpan'>click anywhere to close</p>"

                                        $('#dialog').html(('<b>Category does not exist<br>available categories</b> <span>'+catStr+'</span>'))

                                        $('#closeSpan').css({
                                            background:'black',
                                            color:'white',
                                            borderRadius:'3px',
                                            border:'1px solid orange'
                                          })


                                        $('#prods').css({'webkitFilter':'blur(2px)'})
                                    }
                                    else
                                    { 
                                      alert('index :'+Categories.indexOf(catVal)+' val:'+catVal)
                                        var prodId   =$(this).parent().attr('id')
                                        var newName  =$(this).parent().find('td:first-of-type').find('input').val();
                                        var newPrice =$(this).parent().find('td:nth-of-type(3)').find('input').val();
                                        var newCat   =$(this).parent().find('td:nth-of-type(2)').find('input').val();

                                        var data     ={id:prodId,name:newName,price:newPrice,cat:newCat}

                                        $.post('/products',data,function(){alert('saved')})
                                    }
                                    
                                }
                                            
                            






                        });
                         $('#closeSpan').click(function(){
                
                           })
          
          
          
          
  </script>
  
</div>

</div>

















<div id='backOptsProfits'>

<div  class="btn-group-vertical" id='f'><li><h3>Most Profitable product</h3></li></div>
  <div class='list-item'>
        <img src="./images/{{mostPopularProd.Image}}"/> &nbsp{{mostPopularProd.Name}}&nbsp({{mostPopularProd.Quantity}} sold)
        <div id='order'>
        <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Options <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Order </a></li>
            <li><a href="#">Supplier Details</a></li>
            <li><a href="#">Compare Prices</a></li>
            <li class="divider"></li>
            <li><a href="#">Product perfomance</a></li>
        </ul>
  </div>
  </div>
  
</div>

<div  class="btn-group-vertical"><li><h3>Least Profitable product</h3></li></div>
  <div class='list-item' ><img src="./images/{{leastPopularProd.Image}}"/> &nbsp{{{leastPopularProd.Name}}}&nbsp({{{leastPopularProd.Quantity}}} sold)
  <div id='order'>
  <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Options <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
          <li><a href="#">Order </a></li>
          <li><a href="#">Supplier Details</a></li>
          <li><a href="#">Compare Prices</a></li>
          <li class="divider"></li>
          <li><a href="#">Product perfomance</a></li>
      </ul>
  </div>
  </div>
</div>


<div  class="btn-group-vertical"><li><h3>Most Profitable category</h3></li></div>
  <div class='list-item'><img src="./images/{{mostPop.Image}}"/> &nbsp{{{mostPop.ItemName}}}&nbsp({{{mostPop.UnitsSold}}} sold)
  <div id='order'>
  <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Options <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
          <li><a href="#">Order </a></li>
          <li><a href="#">Supplier Details</a></li>
          <li><a href="#">Compare Prices</a></li>
          <li class="divider"></li>
          <li><a href="#">Category perfomance</a></li>
      </ul>
  </div>
  </div>

</div>

<div  class="btn-group-vertical"><li><h3>Least Profitable category</h3></li></div>
   <div class='list-item'><img src="./images/{{leastPop.Image}}"/> &nbsp{{{leastPop.ItemName}}}&nbsp({{{leastPop.UnitsSold}}} sold)
   <div id='order'>
  <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Options <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
          <li><a href="#">Order </a></li>
          <li><a href="#">Supplier Details</a></li>
          <li><a href="#">Compare Prices</a></li>
          <li class="divider"></li>
          <li><a href="#">Category perfomance</a></li>
      </ul>
  </div>
  </div>
</div>
</div>
<span id="dialog"></span>
{{{body}}}