

<h3>Most Popular product</h3>
{{mostPopularProd.Name}}
{{mostPopularProd.Quantity}}

<h3>Least Popular product</h3>
{{{leastPopularProd.Name}}}
{{{leastPopularProd.Quantity}}}

<h3>Most Popular category</h3>
{{{mostPopularCateg.Name}}}
{{{mostPopularCateg.Quantity}}}

<h3>Least Popular category</h3>
{{{leastPopularCateg.Name}}}
{{{leastPopularCateg.Quantity}}}

{{{body}}}