

<div class='list'><li><h3>Most Popular product</h3></li></div>
	<div class='list-item'>{{mostPopularProd.Name}}{{mostPopularProd.Quantity}}</div>

<div class='list'><li><h3>Least Popular product</h3></li><div>
	<div class='list-item'>{{{leastPopularProd.Name}}}{{{leastPopularProd.Quantity}}}</div>


<div class='list'><li><h3>Most Popular category</h3></li></div>
	<div class='list-item'>{{{mostPop.ItemName}}} {{{mostPop.UnitsSold}}}<div>

<div class='list'><li><h3>Most Popular category</h3></li></div>
	<div class='list-item'> {{{leastPop.ItemName}}}{{{leastPop.UnitsSold}}}<div>
