<div id='backOpts'>

<div  class="btn-group-vertical" id='f'><li><h3>Most Popular product</h3></li></div>
	<div class='list-item'><img src="./images/{{mostPopularProd.Image}}"/> &nbsp{{mostPopularProd.Name}}&nbsp({{mostPopularProd.Quantity}} sold)
	<div id='order'>
	<div class="btn-group">
  		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    		Options <span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
    			<li><a href="#">Order </a></li>
    			<li><a href="#">Supplier Details</a></li>
    			<li><a href="#">Compare Prices</a></li>
    			<li class="divider"></li>
    			<li><a href="#">Product perfomance</a></li>
  		</ul>
	</div>
	</div>
	
</div>

<div  class="btn-group-vertical"><li><h3>Least Popular product</h3></li></div>
	<div class='list-item' ><img src="./images/{{leastPopularProd.Image}}"/> &nbsp{{{leastPopularProd.Name}}}&nbsp({{{leastPopularProd.Quantity}}} sold)
	<div id='order'>
	<div class="btn-group">
  		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    		Options <span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
    			<li><a href="#">Order </a></li>
    			<li><a href="#">Supplier Details</a></li>
    			<li><a href="#">Compare Prices</a></li>
    			<li class="divider"></li>
    			<li><a href="#">Product perfomance</a></li>
  		</ul>
	</div>
	</div>
</div>


<div  class="btn-group-vertical"><li><h3>Most Popular category</h3></li></div>
	<div class='list-item'><img src="./images/{{mostPop.Image}}"/> &nbsp{{{mostPop.ItemName}}}&nbsp({{{mostPop.UnitsSold}}} sold)
	<div id='order'>
	<div class="btn-group">
  		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    		Options <span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
    			<li><a href="#">Order </a></li>
    			<li><a href="#">Supplier Details</a></li>
    			<li><a href="#">Compare Prices</a></li>
    			<li class="divider"></li>
    			<li><a href="#">Category perfomance</a></li>
  		</ul>
	</div>
	</div>

</div>

<div  class="btn-group-vertical"><li><h3>Least Popular category</h3></li></div>
   <div class='list-item'><img src="./images/{{leastPop.Image}}"/> &nbsp{{{leastPop.ItemName}}}&nbsp({{{leastPop.UnitsSold}}} sold)
   <div id='order'>
	<div class="btn-group">
  		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    		Options <span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
    			<li><a href="#">Order </a></li>
    			<li><a href="#">Supplier Details</a></li>
    			<li><a href="#">Compare Prices</a></li>
    			<li class="divider"></li>
    			<li><a href="#">Category perfomance</a></li>
  		</ul>
	</div>
	</div>
</div>
</div>


<div id='prods'>
<div class="container">
  
             
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>        
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
    {{#each products}}
      <tr id='Prod#{{name}}'>
      
        <td>{{name}}</td>
        <td>R{{price}}</td>
        <td>{{category}}</td>
        
      </tr>
      {{/each}}
      </tbody>
  </table>
</div>
</div>

{{{body}}}